<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honeybae.project.mapper.ProductMapper">

	<sql id="colume">
			productNo
			,brand
			,collaborationYn
			,collaborationBrand
			,type
			,model
			,name
			,color
			,price
			,size
			,quantity
			,description
			,inMaterial
			,outMaterial
			,realSizeLength
			,realSizeWidth
			,weight
			,usedYn
			,releaseDate
			,retroYn
			,writer
			,writeTime
			,updateTime
			,soldoutYn
			,deleteYn
			,readCount
	</sql>
	
	<sql id="addColume">
			#{productNo}
			,#{brand}
			,#{collaborationYn}
			,#{collaborationBrand}
			,#{type}
			,#{model}
			,#{name}
			,#{color}
			,#{price}
			,#{size}
			,#{quantity}
			,#{description}
			,#{inMaterial}
			,#{outMaterial}
			,#{realSizeLength}
			,#{realSizeWidth}
			,#{weight}
			,#{usedYn}
			,#{releaseDate}
			,#{retroYn}
			,#{writer}
			,#{writeTime}
			,#{updateTime}
			,#{soldoutYn}
			,#{deleteYn}
			,#{readCount}
	
	</sql>
	
	<sql id="WHERE">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="productNo != null and productNo != '' ">
				AND	productNo LIKE CONCAT('%', #{productNo} ,'%')
			</if>
			<if test="brand != null and brand != '' ">
				AND	brand = #{brand}
			</if>
			<if test="type != null and type != '' ">
				AND	type = #{type}
			</if>
				AND	deleteYN = 'N'
		</trim>
	
	</sql>

	<select id="selectList" parameterType="Product" resultType="Product">
		SELECT 		<include refid="colume"/>
		FROM		product
		<include refid="WHERE"/>
		ORDER BY productNo		
	</select>
	
	<select id="selectGet" parameterType="Product" resultType="Product">
		SELECT 		<include refid="colume"/>
		FROM		product
		<include refid="WHERE"/>		
	</select>
	
	<insert id="productAdd" parameterType="Product">
		INSERT INTO product (<include refid="colume"/>)
		VALUES 		(<include refid="addColume"/>)
	</insert>
	
	<select id="count" parameterType="Product" resultType="int">
		SELECT 		count(*)
		FROM		product
		<include refid="WHERE"/>
	
	</select>
	
	
	<update id="readCount" parameterType="int">
		UPDATE 		product
		SET			readCount = readCount + 1
		<include refid="WHERE"/>
	</update>
	
	<delete id="delete" parameterType="Product">
		DELETE FROM product
		<include refid="WHERE"/>
	</delete>
	
	<update id="productDelete" parameterType="Product">
		UPDATE		product
		SET			deleteYn = #{deleteYn}
					,updateTime = #{updateTime}
		<include refid="WHERE"/>
	</update>
	
	<update id="productUpdate" parameterType="Product">
		UPDATE		product
		SET			
					brand = #{brand}
					,collaborationYn = #{collaborationYn}
					,collaborationBrand = #{collaborationBrand}
					,type = #{type}
					,model = #{model}
					,name = #{name}
					,color = #{color}
					,price = #{price}
					,size = #{size}
					,quantity = #{quantity}
					,description = #{description}
					,inMaterial = #{inMaterial}
					,outMaterial = #{outMaterial}
					,realSizeLength = #{realSizeLength}
					,realSizeWidth = #{realSizeWidth}
					,weight = #{weight}
					,usedYn = #{usedYn}
					,releaseDate = #{releaseDate}
					,retroYn = #{retroYn}
					,updateTime = #{updateTime}
		<include refid="WHERE"/>
	</update>




</mapper>