<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honeybae.project.mapper.ProductMapper">
<!--  
CREATE TABLE `product` (
	`id` INT(11) NOT NULL DEFAULT '0' COMMENT 'idx',
	`brand` VARCHAR(50) NOT NULL DEFAULT '0' COMMENT '브랜드' COLLATE 'utf8_general_ci',
	`category` VARCHAR(50) NOT NULL DEFAULT '0' COMMENT '신발타입' COLLATE 'utf8_general_ci',
	`model` VARCHAR(20) NOT NULL DEFAULT '' COMMENT '모델명' COLLATE 'utf8_general_ci',
	`color` VARCHAR(10) NOT NULL DEFAULT '' COMMENT '색상' COLLATE 'utf8_general_ci',
	`size` SMALLINT(3) NOT NULL DEFAULT '0' COMMENT '사이즈',
	`price` INT(11) NOT NULL COMMENT '가격',
	`quantity` INT(11) NOT NULL COMMENT '수량',
	`collaboration` TINYINT(1) NOT NULL COMMENT '협업여부',
	`collaboration_brand` VARCHAR(20) NULL DEFAULT '' COMMENT '협업브랜드' COLLATE 'utf8_general_ci',
	`description` TEXT NOT NULL COMMENT '설명' COLLATE 'utf8_general_ci',
	`in_material` VARCHAR(20) NOT NULL DEFAULT '' COMMENT '안감소재' COLLATE 'utf8_general_ci',
	`out_material` VARCHAR(20) NOT NULL DEFAULT '' COMMENT '외피소재' COLLATE 'utf8_general_ci',
	`real_size_length` FLOAT(3,1) NOT NULL DEFAULT '0.0' COMMENT '실측길이',
	`real_size_width` FLOAT(3,1) NOT NULL DEFAULT '0.0' COMMENT '실측너비',
	`weight` FLOAT(3,1) NOT NULL DEFAULT '0.0' COMMENT '중량',
	`used` TINYINT(1) NOT NULL COMMENT '중고여부',
	`release_date` DATE NULL DEFAULT NULL COMMENT '발매일',
	`retro` TINYINT(1) NOT NULL COMMENT '재발매여부',
	`soldout` TINYINT(1) NOT NULL COMMENT '판매완료여부',
	`member_id` INT(11) NOT NULL DEFAULT '0' COMMENT '등록자',
	`write_date` DATETIME NOT NULL COMMENT '등록시간',
	`update_date` DATETIME NULL DEFAULT NULL COMMENT '수정시간',
	`view_count` INT(11) NOT NULL DEFAULT '0' COMMENT '조회수',
	`delete_flag` TINYINT(1) NOT NULL DEFAULT '0' COMMENT '삭제여부',
	PRIMARY KEY (`id`) USING BTREE,
	INDEX `brand` (`brand`) USING BTREE,
	INDEX `category` (`category`) USING BTREE
)
COMMENT='상품'
COLLATE='utf8_general_ci'
ENGINE=InnoDB



-->
	<select id="selectAll"  parameterType="Pagination" resultType="Product">
		SELECT 		id
					,brand
					,if(collaboration,'true','false') as "collaboration"
					,collaboration_brand
					,category
					,model
					,color
					,price
					,size
					,quantity
					,description
					,in_material
					,out_material
					,real_size_length
					,real_size_width
					,weight
					,if(used,'true','false') as "used"
					,release_date
					,if(retro,'true','false') as "retro"
					,member_id
					,write_date
					,update_date
					,if(soldout,'true','false') as "soldout"
					,view_count
		FROM		product
		WHERE 		delete_flag IS false
		LIMIT		#{startPage},#{pageRowSize}
	</select>
	
 	<select id="selectList" parameterType="Search" resultType="Product">
		SELECT 		id
					,brand
					,if(collaboration,'true','false') as "collaboration"
					,collaboration_brand
					,category
					,model
					,color
					,price
					,size
					,quantity
					,description
					,in_material
					,out_material
					,real_size_length
					,real_size_width
					,weight
					,if(used,'true','false') as "used"
					,release_date
					,if(retro,'true','false') as "retro"
					,member_id
					,write_date
					,update_date
					,if(soldout,'true','false') as "soldout"
					,view_count
		FROM		product
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="brand != null">
			AND		brand = #{brand}			
			</if>
			<if test="category != null">
			AND		category = #{category}			
			</if>
			<if test="size != 0">
			AND		size = #{size}			
			</if>
			<if test="collaboration != null">
			AND		collaboration IS ${collaboration}			
			</if>
			<if test="retro != null">
			AND		retro IS ${retro}			
			</if>
			<if test="used != null">
			AND		used IS ${used}			
			</if>
			<if test="soldout != null">
			AND		soldout IS ${soldout}			
			</if>
			<if test="minPrice != 0 || maxPrice !=0">
			AND		price BETWEEN #{minPrice} AND #{maxPrice}			
			</if>
			AND		delete_flag IS false
		</trim>	
		LIMIT		#{startPage},#{pageRowSize}
	</select>
		
	<select id="selectOne" parameterType="int" resultType="Product">
		SELECT 		id
					,brand
					,if(collaboration,'true','false') as "collaboration"
					,collaboration_brand
					,category
					,model
					,color
					,price
					,size
					,quantity
					,description
					,in_material
					,out_material
					,real_size_length
					,real_size_width
					,weight
					,if(used,'true','false') as "used"
					,release_date
					,if(retro,'true','false') as "retro"
					,member_id
					,write_date
					,update_date
					,if(soldout,'true','false') as "soldout"
					,view_count
		FROM		product
		WHERE		id = #{id}
	</select>
	
	<insert id="addProduct" parameterType="Product">
		INSERT INTO product 
		(
					brand
					,collaboration
					,collaboration_brand
					,category
					,model
					,color
					,price
					,size
					,quantity
					,description
					,in_material
					,out_material
					,real_size_length
					,real_size_width
					,weight
					,used
					,release_date
					,retro
					,member_id
					,write_date
					,update_date
					,soldout
					,view_count
		)
		VALUES 		
		(
					#{brand}
					,#{collaboration}
					,#{collaborationBrand}
					,#{category}
					,#{model}
					,#{color}
					,#{price}
					,#{size}
					,#{quantity}
					,#{description}
					,#{inMaterial}
					,#{outMaterial}
					,#{realSizeLength}
					,#{realSizeWidth}
					,#{weight}
					,#{used}
					,#{releaseDate}
					,#{retro}
					,#{memberId}
					,#{writeDate}
					,#{updateDate}
					,#{soldout}
					,#{viewCount}
		)
	</insert>
	
	<update id="updateProduct" parameterType="Product">
		UPDATE		product
		SET			
					brand := #{brand}
					,collaboration := #{collaboration}
					,collaboration_brand := #{collaborationBrand}
					,category := #{category}
					,model := #{model}
					,color := #{color}
					,price := #{price}
					,size := #{size}
					,quantity := #{quantity}
					,description := #{description}
					,in_material := #{inMaterial}
					,out_material := #{outMaterial}
					,real_size_length := #{realSizeLength}
					,real_size_width := #{realSizeWidth}
					,weight := #{weight}
					,used := #{used}
					,release_date := #{releaseDate}
					,retro := #{retro}
					,soldout := #{soldout}
					,update_date := #{updateDate}
		WHERE		id = #{id}
	</update>
	
	<update id="deleteProduct" parameterType="Product">
		UPDATE		product
		SET			delete_flag := true
					,update_date := now()
		WHERE		id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM 		product
		WHERE		id=#{id}
	</delete>
	
	
	<update id="viewCount" parameterType="int">
		UPDATE 		product
		SET			view_count := view_count + 1
		WHERE		id = #{id}
	</update>
	
	




</mapper>